.sidebar
    .sidebar__image(style="background-image: url(images/default.jpg);")
    .sidebar__text
        | Asia Samarkand
.header
    .header-main
        .header-section
            .inner-logo-section
                .logo
            .header-menu
                ul.header-menuList
                    li.header-menuItem
                        .languages
                            .languagesItem
                                a.languagesItem__link(href=defaultLink) Рус
                            .languagesItem
                                a.languagesItem__link(href=defaultLink) Eng
                    li.header-menuItem
                        .socials
                            .socialsItem
                                a.socialsItem__link(href=defaultLink)
                                    span.facebook
                            .socialsItem
                                a.socialsItem__link(href=defaultLink)
                                    span.instagram
                    li.header-menuItem
                        span.select-filial
                            | Выберите гостиницу:
                        .header-contacts
                            a.header-contacts__current(href=defaultLink)
                                span.filial-name
                                    | Asia Tashkent 
                                    i.fa.fa-angle-down
                                span.filial-phone
                                    | +998 (97) 
                                    span.short-phone
                                        | 455-36-72
                            .header-contacts-sub
                                .header-contacts-subItem
                                    a.header-contacts-subItem__link(href=defaultLink)
                                        span.filial-name
                                            | Asia Ferghana 
                                            i.fa.fa-arrow
                                        span.filial-phone
                                            | +998 (97) 
                                            span.short-phone
                                                | 455-36-72
                                .header-contacts-subItem
                                    a.header-contacts-subItem__link(href=defaultLink)
                                        span.filial-name
                                            | Asia Khiva 
                                            i.fa.fa-arrow
                                        span.filial-phone
                                            | +998 (97) 
                                            span.short-phone
                                                | 455-36-72
                                .header-contacts-subItem
                                    a.header-contacts-subItem__link(href=defaultLink)
                                        span.filial-name
                                            | Asia Bukhara 
                                            i.fa.fa-arrow
                                        span.filial-phone
                                            | +998 (97) 
                                            span.short-phone
                                                | 455-36-72
                                .header-contacts-subItem
                                    a.header-contacts-subItem__link(href=defaultLink)
                                        span.filial-name
                                            | Asia Samarkand 
                                            i.fa.fa-arrow
                                        span.filial-phone
                                            | +998 (97) 
                                            span.short-phone
                                                | 455-36-72
                    li.header-menuItem
                        .booking-section
                            a.booking-section__link(href=defaultLink)
                                span
                                    | Забронировать номер