.side-section
    .side-fixed
        ul.side-menu
            li.side-menuItem.active
                a.side-menuItem__link(href=defaultLink) О гостинице
            li.side-menuItem
                a.side-menuItem__link(href=defaultLink) Номерной фонд
            li.side-menuItem
                a.side-menuItem__link(href=defaultLink) Ресторан и бар
            li.side-menuItem
                a.side-menuItem__link(href=defaultLink) Конференции и семинары
            li.side-menuItem
                a.side-menuItem__link(href=defaultLink) Бассейн и сауна
            li.side-menuItem
                a.side-menuItem__link(href=defaultLink) Фотогалерея
            li.side-menuItem
                a.side-menuItem__link(href=defaultLink) Правила отеля
        .side-tour
            .big-text
                | 3D
            .middle-text
                | Виртуальный
                br
                | тур по гостинице
        .tour-btn
            a.read-more(href=defaultLink)
                span
                    i.fa.fa-long-arrow-right