extends pug/base

append vars
    - title = 'Контакты'
    - body.classList = ['inner-page']
block content
    - var defaultLink = 'javascript:void(0);'
    include pug/partials/header
    .i-container
        .i-main
            include pug/partials/page-title
            .inner-content.container
                .content.no-side
                    .contacts-section
                        .contacts
                            .contactsItem
                                .contactsItem__title Asia Ташкент 
                                .contactsItem-content
                                    .contactsItem__phone
                                        i.fa.fa-phone
                                        | +998 (71) 250-96-80 &nbsp;
                                        | + 998 (71) 250-96-81 (факс)
                                    .contactsItem__email
                                        i.fa.fa-envelope
                                        | tashkent@asiahotels.uz
                                    .contactsItem__address
                                        i.fa.fa-marker-map
                                        | 100059, Ташкент, улица Усмана Насыра, 111
                                .contactsItem__map
                                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1499.5883482856364!2d69.22779863295453!3d41.26148849282154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8a79c27d0a0f%3A0x440b326082f94d94!2z0JPQvtGB0YLQuNC90LjRhtCwINCQ0LfQuNGPLdCi0LDRiNC60LXQvdGC!5e0!3m2!1sru!2s!4v1533119364013" width="100%" height="199" frameborder="0" style="border:0" allowfullscreen="")
                            .contactsItem
                                .contactsItem__title Asia Самарканд
                                .contactsItem-content
                                    .contactsItem__phone
                                        i.fa.fa-phone
                                        | +998 (71) 250-96-80 &nbsp;
                                        | + 998 (71) 250-96-81 (факс)
                                    .contactsItem__email
                                        i.fa.fa-envelope
                                        | samarkand@asiahotels.uz
                                    .contactsItem__address
                                        i.fa.fa-marker-map
                                        | 100059, Самарканд, улица Усмана Насыра, 111
                            .contactsItem
                                .contactsItem__title Asia Бухара
                                .contactsItem-content
                                    .contactsItem__phone
                                        i.fa.fa-phone
                                        | +998 (71) 250-96-80 &nbsp;
                                        | + 998 (71) 250-96-81 (факс)
                                    .contactsItem__email
                                        i.fa.fa-envelope
                                        | bukhara@asiahotels.uz
                                    .contactsItem__address
                                        i.fa.fa-marker-map
                                        | 100059, Самарканд, улица Усмана Насыра, 111
                                .contactsItem__map
                            .contactsItem
                                .contactsItem__title Asia Хива
                                .contactsItem-content
                                    .contactsItem__phone
                                        i.fa.fa-phone
                                        | +998 (71) 250-96-80 &nbsp;
                                        | + 998 (71) 250-96-81 (факс)
                                    .contactsItem__email
                                        i.fa.fa-envelope
                                        | khiva@asiahotels.uz
                                    .contactsItem__address
                                        i.fa.fa-marker-map
                                        | 100059, Самарканд, улица Усмана Насыра, 111
                                .contactsItem__map
                            .contactsItem
                                .contactsItem__title Asia Фергана
                                .contactsItem-content
                                    .contactsItem__phone
                                        i.fa.fa-phone
                                        | +998 (71) 250-96-80 &nbsp;
                                        | + 998 (71) 250-96-81 (факс)
                                    .contactsItem__email
                                        i.fa.fa-envelope
                                        | fergana@asiahotels.uz
                                    .contactsItem__address
                                        i.fa.fa-marker-map
                                        | 100059, Самарканд, улица Усмана Насыра, 111
                                .contactsItem__map
                        .section-line
                        .feedback-form
                            .form-title Если у Вас есть вопросы, вы можете обратиться к нам
                            form(action="")
                                .message
                                .form-3
                                    .form-group
                                        input(type="text" id="name")
                                        label(for="name") Фамилия / имя
                                    .form-group
                                        input(type="email", id="email")
                                        label(for="email") Электронная почта
                                    .form-group.custom-select
                                        select
                                            option(selected="" disabled="") Выберите гостиницу
                                            option(value="tashkent") Asia Ташент
                                            option(value="samarkand") Asia Самарканд
                                            option(value="bukhara") Asia Бухара
                                            option(value="khiva") Asia Хива
                                            option(value="fergana") Asia Фергана
                                .form-9
                                    .form-group
                                        textarea#message
                                        label(for="message") Напишите свой отзыв
                                    .form-group
                                        #simple-captcha.visualCaptcha
                                            .visualCaptcha-possibilities
                                                .img
                                                    a(href=defaultLink)
                                                        img(src="images/icons/shirt.png", alt="")
                                                .img
                                                    a(href=defaultLink)
                                                        img(src="images/icons/headphone.png", alt="")
                                                .img
                                                    a(href=defaultLink)
                                                        img(src="images/icons/auto.png", alt="")
                                                .img
                                                    a(href=defaultLink)
                                                        img(src="images/icons/buggy.png", alt="")
                                                .img
                                                    a(href=defaultLink)
                                                        img(src="images/icons/coffee.png", alt="")
                                                .img
                                                    a(href=defaultLink)
                                                        img(src="images/icons/airplain.png", alt="")
                                            .visualCaptcha-explanation
                                                | Выберите&nbsp;
                                                span.active «наушники»
                                                | , чтобы подтвердить, что&nbsp;Вы не&nbsp;робот
                                        .form-btn
                                            a.read-more(href=defaultLink)
                                                | подробнее
                                                span
                                                    i.fa.fa-long-arrow-right
                    include pug/partials/footer
    .page-mask.mask-top
    .page-mask.mask-bottom

