extends pug/base

append vars
	- title = 'Главная'
	- description = 'Описание'
block content
	- var defaultLink = 'javascript:void(0);'
	.h-container
		.h-main
			.header
				.container
					.header-section
						.burger-section
							a.burger-btn(href=".home-modal-menu")
								span(data-text="Закрыть") Меню
						.header-menu
							ul.header-menuList
								li.header-menuItem
									.languages
										.languagesItem
											a.languagesItem__link(href=defaultLink) Рус
										.languagesItem
											a.languagesItem__link(href=defaultLink) Eng
								li.header-menuItem
									.socials
										.socialsItem
											a.socialsItem__link(href=defaultLink)
												span.facebook
										.socialsItem
											a.socialsItem__link(href=defaultLink)
												span.instagram
								li.header-menuItem
									span.select-filial
										| Выберите гостиницу:
									.header-contacts
										a.header-contacts__current(href=defaultLink)
											span.filial-name
												| Asia Tashkent 
												i.fa.fa-angle-down
											span.filial-phone
												| +998 (97) 
												span.short-phone
													| 455-36-72
										.header-contacts-sub
											.header-contacts-subItem
												a.header-contacts-subItem__link(href=defaultLink)
													span.filial-name
														| Asia Ferghana 
														i.fa.fa-arrow
													span.filial-phone
														| +998 (97) 
														span.short-phone
															| 455-36-72
											.header-contacts-subItem
												a.header-contacts-subItem__link(href=defaultLink)
													span.filial-name
														| Asia Khiva 
														i.fa.fa-arrow
													span.filial-phone
														| +998 (97) 
														span.short-phone
															| 455-36-72
											.header-contacts-subItem
												a.header-contacts-subItem__link(href=defaultLink)
													span.filial-name
														| Asia Bukhara 
														i.fa.fa-arrow
													span.filial-phone
														| +998 (97) 
														span.short-phone
															| 455-36-72
											.header-contacts-subItem
												a.header-contacts-subItem__link(href=defaultLink)
													span.filial-name
														| Asia Samarkand 
														i.fa.fa-arrow
													span.filial-phone
														| +998 (97) 
														span.short-phone
															| 455-36-72
								li.header-menuItem
									.booking-section
										a.booking-section__link(href=defaultLink)
											span
												| Забронировать номер
			.logo-section
				.container
					.logo
			.home-modal-menu
				.container
					ul.modal-menu
						li.modal-menuItem
							a.modal-menuItem__link(href="about.html")
								| О компании
							ul.sub-menu
								li.sub-menuItem
									a.sub-menuItem__link(href="about.html")
										| О сети гостиниц
								li.sub-menuItem
									a.sub-menuItem__link(href="about.html")
										| Турагентство
						li.modal-menuItem
							a.modal-menuItem__link(href="about.html")
								| Гостиницы
							ul.sub-menu
								li.sub-menuItem
									a.sub-menuItem__link(href="about.html")
										| ASIA ТАШКЕНТ
								li.sub-menuItem
									a.sub-menuItem__link(href="about.html")
										| ASIA САМАРКАНД
								li.sub-menuItem
									a.sub-menuItem__link(href="about.html")
										| ASIA БУХАРА
								li.sub-menuItem
									a.sub-menuItem__link(href="about.html")
										| ASIA ХИВА
								li.sub-menuItem
									a.sub-menuItem__link(href="about.html")
										| ASIA ФЕРГАНА
						li.modal-menuItem
							a.modal-menuItem__link(href="#")
								| Пресс-центр
							ul.sub-menu
								li.sub-menuItem
									a.sub-menuItem__link(href="#")
										| Спецпредложения
								li.sub-menuItem
									a.sub-menuItem__link(href="#")
										| мероприятия и события
								li.sub-menuItem
									a.sub-menuItem__link(href="#")
										| отзывы
						li.modal-menuItem
							a.modal-menuItem__link(href="#")
								| О компании
							ul.sub-menu
								li.sub-menuItem
									a.sub-menuItem__link(href="#")
										| свяжитесь с нами
								li.sub-menuItem
									a.sub-menuItem__link(href="rooms.html")
										| забронировать номер

			#cube-slider.cube-slider
				.cube-slider__item.cube-slider__item_active(style="background-image: url(images/slide-4-min.jpg)")
					.page
						.container
							.mobile-header
								.socials
									.socialsItem
										a.socialsItem__link.facebook(href=defaultLink)
									.socialsItem
										a.socialsItem__link.instagram(href=defaultLink)
								.logo
								.langs
									.langsItem.active
										a.langsItem__link(href=defaultLink) Pyc
									.langsItem
										a.langsItem__link(href=defaultLink) Eng
							.page-title-section
								.cube-page-title
									.cube-page-title__title
										| Добро пожаловать
									.cube-page-title__subtitle
										| в сеть гостиниц «Азия»
									.cube-page-title__btn
										a.more-btn(href=defaultLink)
											| О сети гостиниц Азия
											span
												i.fa.fa-long-arrow-right

								.cube-page-description
									| Cеть Гостиниц Азия - одна из крупнейших в Узбекистане, представлена Гостиницами в городах: Ташкенте, Самарканде, Бухаре, Хиве и Фергане. Общий номерной фонд порядка 500 номеров. Сеть с гордостью можно назвать национальной Сетью Гостиниц.  Дизайн, структура и интерьер всех Гостиниц отвечают самым современным требованиям международного гостиничного хозяйства. Всем нашим гостям предложено высококачественное  обслуживание с неповторимым узбекским гостеприимством.
							.cube-content
								.advantages
									.advantagesItem
										.advantagesItem__image(style="background-image: url('data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"57\" height=\"42\"><path style=\"fill: #ffe9a0;fill-rule: evenodd;\" d=\"M701.837,445.945h-1.164v-5.178a1.157,1.157,0,0,0-1.163-1.151h-1.745v-5.753a9.267,9.267,0,0,0-9.306-9.206H677.99v-6.9h4.071a1.157,1.157,0,0,0,1.163-1.15v-2.3A2.316,2.316,0,0,0,680.9,412H668.1a2.316,2.316,0,0,0-2.326,2.3v2.3a1.156,1.156,0,0,0,1.163,1.15h4.071v6.9H660.541a9.267,9.267,0,0,0-9.306,9.206v5.753H649.49a1.158,1.158,0,0,0-1.164,1.151v5.178h-1.163A1.157,1.157,0,0,0,646,447.1v3.452A3.474,3.474,0,0,0,649.49,454h50.02a3.475,3.475,0,0,0,3.49-3.452V447.1A1.157,1.157,0,0,0,701.837,445.945ZM668.1,415.452V414.3h12.8v1.151H668.1Zm7.561,2.3v6.9h-2.326v-6.9h2.326Zm-22.1,16.11a6.95,6.95,0,0,1,6.98-6.9h27.918a6.95,6.95,0,0,1,6.98,6.9v5.753H653.561v-5.753Zm47.112,16.685a1.158,1.158,0,0,1-1.163,1.151H649.49a1.159,1.159,0,0,1-1.164-1.151v-2.3h44.2v-2.3H650.653v-4.027h47.694V447.1a1.158,1.158,0,0,0,1.163,1.151h1.163v2.3Zm-44.785-14.959h2.326a4.634,4.634,0,0,1,4.653-4.6v-2.3A6.95,6.95,0,0,0,655.888,435.589Z\" transform=\"translate(-646 -412)\"/></svg>');")
										.advantagesItem__title
											| Высокий уровень сервиса
									.advantagesItem
										.advantagesItem__image(style="background-image: url('data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"43\" height=\"43\"><path style=\"fill: #ffe9a0;fill-rule: evenodd;\" d=\"M848.221,421.078h-5.127A6.3,6.3,0,0,0,838.059,411a5.653,5.653,0,0,0-4.855,2.359,24.429,24.429,0,0,0-2.7,5.6,24.429,24.429,0,0,0-2.7-5.6A5.654,5.654,0,0,0,822.941,411a6.3,6.3,0,0,0-5.035,10.078h-5.127A3.784,3.784,0,0,0,809,424.857v2.52a3.787,3.787,0,0,0,2.519,3.563v19.281A3.784,3.784,0,0,0,815.3,454h30.4a3.783,3.783,0,0,0,3.779-3.779V430.94a3.786,3.786,0,0,0,2.52-3.563v-2.52A3.784,3.784,0,0,0,848.221,421.078Zm-15.409-1.114c1.93-4.9,2.664-6.444,5.247-6.444a3.779,3.779,0,0,1,0,7.558h-5.687C832.526,420.69,832.673,420.317,832.812,419.964Zm-9.871-6.444c2.583,0,3.317,1.548,5.247,6.444,0.139,0.353.286,0.726,0.44,1.114h-5.687A3.779,3.779,0,0,1,822.941,413.52Zm2.52,37.96H815.3a1.261,1.261,0,0,1-1.26-1.259V431.156h11.422V451.48Zm0-22.843H812.779a1.262,1.262,0,0,1-1.26-1.26v-2.52a1.262,1.262,0,0,1,1.26-1.259h12.682v5.039Zm7.558,22.843H827.98V423.6h5.039V451.48Zm13.942-1.259a1.261,1.261,0,0,1-1.26,1.259H835.539V431.156h11.422v19.065Zm2.519-22.844a1.261,1.261,0,0,1-1.259,1.26H835.539V423.6h12.682a1.261,1.261,0,0,1,1.259,1.259v2.52Z\" transform=\"translate(-809 -411)\"/></svg>');")
										.advantagesItem__title
											| удивительные спецпредложения
									.advantagesItem
										.advantagesItem__image(style="background-image: url(images/sprites/svg/adv-3.svg);")
										.advantagesItem__title
											| Доступные 
											br
											|  цены
									.advantagesItem
										.advantagesItem__image(style="background-image: url(images/sprites/svg/adv-4.svg);")
										.advantagesItem__title
											| Поддержка гостей 24 часа
				.cube-slider__item(style="background-image: url(images/slide-2-min.jpg)")
					.page
						.container
							.page-title-section
								.cube-page-title
									.cube-page-title__title
										| Сеть гостиниц «Азия»
									.cube-page-title__subtitle
										| В 5-ти городах Узбекистана
								.cube-page-description
									.filials-tab
										.filials-tabItem.active(data-id="#tashkent")
											.filials-tabItem__link
												| ASIA ТАШКЕНТ
										.filials-tabItem(data-id="#samarkand")
											.filials-tabItem__link
												| ASIA САМАРКАНД
										.filials-tabItem(data-id="#bukhara")
											.filials-tabItem__link
												| ASIA БУХАРА
										.filials-tabItem(data-id="#khiva")
											.filials-tabItem__link
												| ASIA ХИВА
										.filials-tabItem(data-id="#fergana")
											.filials-tabItem__link
												| ASIA ФЕРГАНА
							.cube-content
								.filials-content
									#tashkent.filials-contentItem.active
										.filial-title
											.filial-left
												.filials-contentItem__title
													span.big-title ASIA
													span.simple-title ТАШКЕНТ
											.filial-right
										.filial-content
											.filial-left
												.filials-contentItem__image(style="background-image: url(images/asia-tashkent.png);")
											.filial-right
												.filials-contentItem__content
													| Прекрасный отель с высоким качеством услуг, благоприятный как для групп путешественников, так и деловых людей. Asia Hotel Ташкент, обещает незабываемое впечатление от пребывания в Узбекистане
												.filials-contentItem__btn
													a.more-btn(href=defaultLink)
														| подробнее
														span
															i.fa.fa-long-arrow-right
									#samarkand.filials-contentItem
										.filial-title
											.filial-left
												.filials-contentItem__title
													span.big-title ASIA
													span.simple-title САМАРКАНД
											.filial-right
										.filial-content
											.filial-left
												.filials-contentItem__image(style="background-image: url(images/asia-tashkent.png);")
											.filial-right
												.filials-contentItem__content
													| Прекрасный отель с высоким качеством услуг, благоприятный как для групп путешественников, так и деловых людей. Asia Hotel САМАРКАНД, обещает незабываемое впечатление от пребывания в Узбекистане
												.filials-contentItem__btn
													a.more-btn(href=defaultLink)
														| подробнее
														span
															i.fa.fa-long-arrow-right
									#bukhara.filials-contentItem
										.filial-title
											.filial-left
												.filials-contentItem__title
													span.big-title ASIA
													span.simple-title БУХАРА
											.filial-right
										.filial-content
											.filial-left
												.filials-contentItem__image(style="background-image: url(images/asia-tashkent.png);")
											.filial-right
												.filials-contentItem__content
													| Прекрасный отель с высоким качеством услуг, благоприятный как для групп путешественников, так и деловых людей. Asia Hotel БУХАРА, обещает незабываемое впечатление от пребывания в Узбекистане
												.filials-contentItem__btn
													a.more-btn(href=defaultLink)
														| подробнее
														span
															i.fa.fa-long-arrow-right
									#khiva.filials-contentItem
										.filial-title
											.filial-left
												.filials-contentItem__title
													span.big-title ASIA
													span.simple-title ХИВА
											.filial-right
										.filial-content
											.filial-left
												.filials-contentItem__image(style="background-image: url(images/asia-tashkent.png);")
											.filial-right
												.filials-contentItem__content
													| Прекрасный отель с высоким качеством услуг, благоприятный как для групп путешественников, так и деловых людей. Asia Hotel ХИВА, обещает незабываемое впечатление от пребывания в Узбекистане
												.filials-contentItem__btn
													a.more-btn(href=defaultLink)
														| подробнее
														span
															i.fa.fa-long-arrow-right
									#fergana.filials-contentItem
										.filial-title
											.filial-left
												.filials-contentItem__title
													span.big-title ASIA
													span.simple-title ФЕРГАНА
											.filial-right
										.filial-content
											.filial-left
												.filials-contentItem__image(style="background-image: url(images/asia-tashkent.png);")
											.filial-right
												.filials-contentItem__content
													| Прекрасный отель с высоким качеством услуг, благоприятный как для групп путешественников, так и деловых людей. Asia Hotel ФЕРГАНА, обещает незабываемое впечатление от пребывания в Узбекистане
												.filials-contentItem__btn
													a.more-btn(href=defaultLink)
														| подробнее
														span
															i.fa.fa-long-arrow-right
					.mask
				.cube-slider__item(style="background-image: url(images/slide-3-min.jpg)")
					.page
						.container
							.page-title-section
								.cube-page-title
									.cube-page-title__title
										| Мероприятия
									.cube-page-title__subtitle
										| и события
								.cube-page-description
									
							.cube-content
								.cube-events
									.cube-eventsItem
										.cube-eventsItem__image(style="background-image: url(images/post-image.png);")
										.cube-eventsItem-content
											.cube-eventsItem__date
												span 02
												| /04/2018
											.cube-eventsItem__title
												| В канун начала туристического сезона,1 апреля 2018 года в городе Бухаре проводился фестиваль « Насриддин Афанди и Восточные блюда».
											.cube-eventsItem__btn
												a.more-btn(href=defaultLink)
													| подробнее
													span
														i.fa.fa-long-arrow-right
									.cube-eventsItem
										.cube-eventsItem__image(style="background-image: url(images/post-image.png);")
										.cube-eventsItem-content
											.cube-eventsItem__date
												span 02
												| /04/2018
											.cube-eventsItem__title
												| Участники фестиваля Шарк Тароналари в Отеле Азия Самарканд!
											.cube-eventsItem__btn
												a.more-btn(href=defaultLink)
													| подробнее
													span
														i.fa.fa-long-arrow-right
					.mask
				.cube-slider__item(style="background-image: url(images/slide-5-min.jpg)")
					.page
						.container
							.page-title-section
								.cube-page-title
									.cube-page-title__title
										| Свяжитесь
									.cube-page-title__subtitle
										| с нами
								.cube-page-description
									| Вы выбираете нас, а значит, мы создадим все условия для комфортного и выгодного проживания
									
							.cube-content
								.cube-contacts
									.contacts-left
										.contactsTab
											.contactsTabItem.active
												.contactsTabItem__link
													| Телефоны
											.contactsTabItem
												.contactsTabItem__link
													| эл. почты
										.contactsContent
											.contactsContentItem.active
												.contactsWidget
													.contactsWidgetItem
														a.contactsWidgetItem__link(href=defaultLink)
															span Asia Tashkent: 
															| +998 (97) 455-36-72
													.contactsWidgetItem
														a.contactsWidgetItem__link(href=defaultLink)
															span Asia Samarkand: 
															| +998 (66) 235-71-56
													.contactsWidgetItem
														a.contactsWidgetItem__link(href=defaultLink)
															span Asia Bukhara: 
															| +998 (65) 224-64-31
													.contactsWidgetItem
														a.contactsWidgetItem__link(href=defaultLink)
															span Asia Khiva: 
															| +998 (91) 570-67-60
													.contactsWidgetItem
														a.contactsWidgetItem__link(href=defaultLink)
															span Asia Ferghana: 
															| +998 (73) 244-13-26
											.contactsContentItem
												.contactsWidget
													.contactsWidgetItem
														a.contactsWidgetItem__link(href=defaultLink)
															span Asia Tashkent: 
															| tashkent@asiahotel.uz
													.contactsWidgetItem
														a.contactsWidgetItem__link(href=defaultLink)
															span Asia Samarkand: 
															| samarkand@asiahotel.uz
													.contactsWidgetItem
														a.contactsWidgetItem__link(href=defaultLink)
															span Asia Bukhara: 
															| bukhara@asiahotel.uz
													.contactsWidgetItem
														a.contactsWidgetItem__link(href=defaultLink)
															span Asia Khiva: 
															| khiva@asiahotel.uz
													.contactsWidgetItem
														a.contactsWidgetItem__link(href=defaultLink)
															span Asia Ferghana: 
															| fergana@asiahotel.uz
										.all-contacts
											.more-btn
												| все контакты
												span
													i.fa.fa-long-arrow-right
									.contacts-right
										.cube-form
											form(action=defaultLink, method="post")
												.form-wrap
													.form-group
														input#name(type="text")
														label(for="name") Имя
													.form-group
														input#email(type="email")
														label(for="email") Электронная почта
													.form-group.custom-select
														select
															option(selected="" disabled="") Выберите гостиницу
															option(value="tashkent") Asia Ташент
															option(value="samarkand") Asia Самарканд
															option(value="bukhara") Asia Бухара
															option(value="khiva") Asia Хива
															option(value="fergana") Asia Фергана
												.form-wrap
													.form-group
														textarea#message
														label(for="message") Сообщение
													.form-group
														#simple-captcha.visualCaptcha
															.visualCaptcha-possibilities
																.img
																	a(href=defaultLink)
																		img(src="images/icons/shirt.png", alt="")
																.img
																	a(href=defaultLink)
																		img(src="images/icons/headphone.png", alt="")
																.img
																	a(href=defaultLink)
																		img(src="images/icons/auto.png", alt="")
																.img
																	a(href=defaultLink)
																		img(src="images/icons/buggy.png", alt="")
																.img
																	a(href=defaultLink)
																		img(src="images/icons/coffee.png", alt="")
																.img
																	a(href=defaultLink)
																		img(src="images/icons/airplain.png", alt="")
															.visualCaptcha-explanation
																| Выберите&nbsp;
																span.active «наушники»
																| , чтобы подтвердить, что&nbsp;Вы не&nbsp;робот
												.form-wrap
													.btn-wrap
														.more-btn
															| Отправить
															span
																i.fa.fa-long-arrow-right
							.mobile-footer
								.copyright
									.copyright__title
										| © СП ООО «Asia Trade», 2018
									.copyright__description
										| Сеть Гостиниц «Азия» в 5-ти городах Узбекистана: 
										br
										| Ташкент, Самарканд, Бухара, Хива, Фергана
								.korden
									.korden__logo
									.korden__text
										| Создание сайтов в Ташкенте
									a.korden__link(href="http://korden.uz")
					.mask
			.bullets-wrap
				.bullets
					.bullets__item.bullets__item_active
					.bullets__item
					.bullets__item
					.bullets__item
			.scroll-content
			.mobile-footer-fixed
				.container
					.fixed-menu
						.fixed-menuItem
							.fixed-menuItem__link
								i.fa.fa-home
								| главная
						.fixed-menuItem
							.fixed-menuItem__link.fix-burger
								span.burger
								| меню
			.home-footer
				.container
					.home-footer-section
						.copyright
							.copyright__title
								| © СП ООО «Asia Trade», 2018
							.copyright__description
								| Сеть Гостиниц «Азия» в 5-ти городах Узбекистана: 
								br
								| Ташкент, Самарканд, Бухара, Хива, Фергана
						.korden
							.korden__logo
							.korden__text
								| Создание сайтов в Ташкенте
							a.korden__link(href="http://korden.uz")
			.mobile-fix-dropdown
				.container
					.main-menu
						ul
							li.dropdown
								a(href="#") О компании
								ul.sub-menu
									li
										a(href="#") О сети гостиниц
									li
										a(href="#") Турагентство
							li.dropdown
								a(href="#") Гостиницы
								ul.sub-menu
									li.dropdown
										a(href="#") Asia Ташкент
										ul.sub-menu
											li
												a(href="#") О гостинице
											li
												a(href="#") Номерной фонд
											li
												a(href="#") Ресторан и бар
											li
												a(href="#") Конференсии и суминары
											li
												a(href="#") Бассейн и сауна
											li
												a(href="#") Фотогалерея
											li
												a(href="#") Правила отеля
									li.dropdown
										a(href="#") Asia Самарканд
										ul.sub-menu
											li
												a(href="#") О гостинице
											li
												a(href="#") Номерной фонд
											li
												a(href="#") Ресторан и бар
											li
												a(href="#") Конференсии и суминары
											li
												a(href="#") Бассейн и сауна
											li
												a(href="#") Фотогалерея
											li
												a(href="#") Правила отеля
									li.dropdown
										a(href="#") Asia Бухара
										ul.sub-menu
											li
												a(href="#") О гостинице
											li
												a(href="#") Номерной фонд
											li
												a(href="#") Ресторан и бар
											li
												a(href="#") Конференсии и суминары
											li
												a(href="#") Бассейн и сауна
											li
												a(href="#") Фотогалерея
											li
												a(href="#") Правила отеля
									li.dropdown
										a(href="#") Asia Фергана
										ul.sub-menu
											li
												a(href="#") О гостинице
											li
												a(href="#") Номерной фонд
											li
												a(href="#") Ресторан и бар
											li
												a(href="#") Конференсии и суминары
											li
												a(href="#") Бассейн и сауна
											li
												a(href="#") Фотогалерея
											li
												a(href="#") Правила отеля
									li.dropdown
										a(href="#") Asia Хива
										ul.sub-menu
											li
												a(href="#") О гостинице
											li
												a(href="#") Номерной фонд
											li
												a(href="#") Ресторан и бар
											li
												a(href="#") Конференсии и суминары
											li
												a(href="#") Бассейн и сауна
											li
												a(href="#") Фотогалерея
											li
												a(href="#") Правила отеля
							li.dropdown
								a(href=defaultLink) Пресс-центр
								ul.sub-menu
									li
										a(href="#") Спецпредложения
									li
										a(href="#") мероприятия и события
									li
										a(href="#") отзывы
							li.dropdown
								a(href=defaultLink) Контакты
								ul.sub-menu
									li
										a(href="#") свяжитесь с нами
									li
										a(href="#") забронировать номер

			.pop-up-bg